  <div class="row no-gutters justify-content-center align-items-center p-2 navbar">
    <div class="col-3">
      <app-named-logo></app-named-logo>
    </div>
    <div class="col-6">
      <div class="row no-gutters justify-content-center">
        <div class="col text-button nav-button">
          <span class="dinamic-bordered-button">
            Who we are
          </span>
        </div>
        <div class="col text-button nav-button">
          <span class="dinamic-bordered-button">
            Our method
          </span>
        </div>
        <div class="col text-button nav-button">
          <span class="dinamic-bordered-button">
            Clients
          </span>
        </div>
      </div>
    </div>
    <div class="col-3 row no-gutters justify-content-end align-items-center">
      <div class="col nav-button" style="text-align: end;">
        <span class="dinamic-bordered-button">
          How Join us
        </span>
      </div>
    </div>
  </div>
